* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: ghostwhite;
}
.app {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 1px 5px grey;
}
.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}
.black {
    background-color: cornflowerblue;
}
.white {
    background-color: #fcd889;
}
.selected {
    background-color: brown;
}
.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #45ea1c;
}
